.cart-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.cart-items {
  margin-top: 100px;
}

.cart-item {
  align-items: center;
  background-color: hwb(187 71% 11% / 0.704);
  margin-bottom: 10px;
  max-width: 700px;
}

.item-info {
  display:flex;
  text-align: center;
  align-items: center;
  padding:30 px;
  max-width: 400px;

}

h1 {
  text-align: center;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 50px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.356);
}

.item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  padding-left: 30px;
}

.item-name {
  margin-right: 15px;
  max-width: 500px;
}

.item-price {
  font-weight: bold;
  margin-right: 15px;
}

.remove-button {
  padding: 5px 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 30px;
}

.remove-button:hover {
  background-color: gray;
}


.backg{
  background-color: bisque;
  background-image: url(https://res.cloudinary.com/duz2ivzgc/image/upload/v1689227789/elsa-olofsson-Pm0K9Y3EPUc-unsplash_hedpt7.jpg);
  background-size: cover;
}

.reducer1{
  background-color: black;
  margin-right: 10px

}
.reducer2{
  background-color: black;
  margin-right: 10px;

}

.reducer1:hover{
  background-color: gray;
}

.reducer2:hover{
  background-color: gray;
}

.item-quantity{
 margin-right: 10px;
}

.total{
  text-align: center;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
  font-size: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.356);
}