.abc
{
  margin-left: 750px;
}
.partnerLogo:hover {
  transform: scale(2); 
  transition: transform 0.3s ease; 
}
.abcd:hover {
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}
.xyz {
  display: block;
  margin: 25px 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.xyz:hover {
  background-color: 'blue';
  color:'black';
}
.textStyle{
  padding-left: 300px;
  padding-top: 200px;
  padding-right: 100px;
  font-weight:700;
  color:rgb(255, 255, 255);
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.bodyStyle{
  background-image: url(https://res.cloudinary.com/dg2jouca2/image/upload/v1689330556/male_er03ur.jpg);
  background-position: center;
  background-size: cover;
}
.foot1{
  height: 20em;
  width: 100em;
  margin-left: 240px;
  background-color: grey;
}
.foot2{
text-align: center;
  padding-left: 60%;
  text-align: left;

}
.foot3{
  text-align: center;
  padding-left: 80%;
  color: black;
  margin-top: -200px;
  margin-left: -50%;
  text-align: left;

}
.foot4{
  text-align: center;
  padding-left: 65%;
  margin-top: -220px;
  margin-left: -60%;
  text-align: left;

}
.bottom{
  background-color: black;
  color: white;
 margin-top: 78px;
 padding-left: 20px;
}
.foot{
  padding-left: 560px;
}