.abc
{
  margin-left: 750px;
}
.partnerLogo:hover {
  transform: scale(2); 
  transition: transform 0.3s ease; 
}
.abcd:hover {
  transform: scale(1.2); 
  transition: transform 0.3s ease; 
}
.xyz {
  display: block;
  margin: 25px 0;
  color: white;
  text-decoration: none;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.xyz:hover {
  background-color: 'blue';
  color:'black';
}
.textStyle{
  padding-left: 300px;
  padding-top: 200px;
  padding-right: 100px;
  font-weight:700;
  color:rgb(255, 255, 255);
  font-size: 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.bodyStyle{
  background-image: url(https://res.cloudinary.com/duz2ivzgc/image/upload/v1689228357/pexels-alesia-kozik-7797449_iiwenr.jpg);
  background-position: center;
  background-size: cover;
}
